body {
  background: #333;
  foreground: white;
}

container-1 {
  max-width: 80%;
  margin: auto;
  background: #1cd2cc;
}
.container-2
{
  max-width: 80%;
  margin: auto;
  background: #13adb2; }

.container-3 {
  max-width: 80%;
  margin: auto;
  background: white;
}
